<nb-layout center>

    
    <nb-layout-column center>


        <nb-card accent="success" [nbSpinner]="loading"
        nbSpinnerStatus="danger"
             nbSpinnerSize="large">
       <nb-card-header >


            <h1 id="title" class="title">Registrarse</h1>
            <p class="sub-title">Hola! Bienvenidos a Ipsfa en línea.</p>
   
        </nb-card-header>
        <nb-card-body><br>
          <div class="row">
                <div class="col-lg-12">

                        
                        <form (ngSubmit)="add('top-right', 'danger', dialog)" #form="ngForm" aria-labelledby="title">

                            <div class="form-control-group">
                                
                                <label class="label" for="input-tipo">Tipo:</label>
                                <nb-select placeholder="Seleccioné tipo de afiliado" 
                                  fullWidth fieldSize="large" [(ngModel)]="titular" 
                                  name="titular" (selectedChange)="seleccionarTipo($event)" >
                                    <nb-option value="TIT">Titular</nb-option>
                                    <nb-option value="SOB">Sobreviviente</nb-option>
                                    <!-- <nb-option value="SOB-TIT">Titular - Sobreviviente</nb-option> -->
                                </nb-select>
                            </div>

                                <div class="form-control-group">
                                
                                  <label class="label" for="input-email">{{ lblcedula }}:</label>
                                  <input nbInput
                                         fullWidth
                                         name="usuario"
                                         id="input-cedula"
                                         placeholder="{{ lblcedula }}"
                                         fieldSize="large"
                                         [(ngModel)]="usuario" 
                                         value="{{usuario}}"
                                         autofocus>
                                </div>
                                

                                

                                <div class="form-control-group">
                                
                                    <label class="label" for="input-email">Componente:</label>
                                    <nb-select placeholder="Seleccioné componente de procedencia" 
                                    [(ngModel)]="componente" name="componente" fullWidth fieldSize="large">
                                        <nb-option value="EJ">Ejercito Bolivariano</nb-option>
                                        <nb-option value="AR">Armada Bolivariana</nb-option>
                                        <nb-option value="AV">Aviación Bolivariana</nb-option>
                                        <nb-option value="GN">Guardia Nacional Bolivariana</nb-option>
                                    </nb-select>
                                </div>

                               <div class="form-control-group">
                                
                                    <label class="label" for="input-email">Correo Electrónico:</label>
                                    <input nbInput
                                           fullWidth
                                           name="correo"
                                           id="input-correo"
                                           placeholder="Correo Electrónico"
                                           fieldSize="large"
                                           [(ngModel)]="correo" 
                                           value="{{correo}}"
                                           autofocus>
                                </div>

                                <div class="form-control-group">
                                  <span class="label-with-link">
                                    <label class="label" for="input-password">Clave:</label>
                                    
                                  </span>
                                  <input nbInput
                                         fullWidth
                                         name="clave"
                                         type="password"
                                         id="input-password"
                                         placeholder="Clave"
                                         fieldSize="large"
                                         [(ngModel)]="clave" 
                                         value="{{clave}}">
                                </div>
                                <div class="form-control-group">
                                    <span class="label-with-link">
                                      <label class="label" for="input-password">Repetir Clave:</label>
                                    </span>
                                    <input nbInput
                                           fullWidth
                                           name="rclave"
                                           type="password"
                                           id="input-rpassword"
                                           placeholder="Repetir Clave"
                                           fieldSize="large"
                                           [(ngModel)]="rclave" 
                                           value="{{rclave}}"
                                           >
                                  </div>
                                
                                <br><br>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <button nbButton
                                        fullWidth
                                        status=""
                                        size="medium"
                                        routerLink="../login">
                                        Atrás
                                      </button>

                                    </div>
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4"><button nbButton
                                        fullWidth
                                        status="success"
                                        size="medium"
                                        [disabled]="submitted || !form.valid"
                                        [class.btn-pulse]="submitted"
                                        [nbSpinner]="loading" nbSpinnerStatus="info" 
                                        nbSpinnerSize="medium" nbSpinnerMessage="">
                                  Registrate
                                </button></div>
                                    
                                </div>
                                
                                
                              </form>
                </div>
        </div>
      </nb-card-body>
        
      </nb-card>

    </nb-layout-column>
    


</nb-layout>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Mensaje Ipsfa en linea</nb-card-header>
    <nb-card-body>
      <br> Se ha registrado correctamente el afiliado. 
      <br> Bienvenidos a ipsfa en linea
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="continuar()" status-success>Continuar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

